NEXT_PUBLIC_SUPABASE_URL=https://tgrgvkelkabbxznamhel.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_4MNEI-deu-pJx6e3KjZMwg_xp8M2cUJ
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
